.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    .fa-search { 
        position: absolute;
        top: 10px;
        right: 30px;
    }

    .search-fontsize{
        @media(max-width: 311px){
            font-size: 10px;
        }
        padding-right: 40px;
    }
}

.result-display {
    position: absolute;
    word-break: break-all;
    text-align: start;
    background-color: white;
    max-height: 300%;
    @media(max-width: 576px){
        display: none;
    }
}

.product-image {
    cursor: pointer;
    width: 70px !important;
    height: 70px !important;
}