<div class="col-12 search" #searchbarEl>
    <span class="fa fa-search"></span>
    <input 
    [(ngModel)]="input" 
    id="input" 
    (keyup)="onKeyUpEvent($event)" 
    (keydown.enter)="onKeyEnterEvent($event)" 
    class="form-control search-fontsize" 
    placeholder="Find product..." />
    <div class="result-display col-12">
        <div *ngFor="let product of productsResultDisplay">
            <div class="flex-row mt-2">
                <div *ngIf="product.images.length > 0">
                    <img [src]="getImgContent('data:image/jpeg;base64,' + product.images[0].picByte)" class="product-image" (click)="onSelectProduct(product)">
                </div>
                <div *ngIf="product.images.length <= 0">
                    <img src="../assets/images/coming-soon.png" class="product-image" (click)="onSelectProduct(product)">
                </div>
                <div class="ml-2 flex-column">
                    <span>SKU: {{product.id}}</span>
                    <span (click)="onSelectProduct(product)" role="button">Name: {{product.name}}</span>
                    <span>Price: {{product.price}}</span>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
    

