
<div class="page-container mt-5">
    <div class="content-wrap">
        <div class="flex-row mb-5">
            <div class="col-lg-2"></div>
            <div *ngIf="product.images.length > 0" class="col-lg-4">
                <img [src]="mainProductImage" class="product-image">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let group of imagesFormatted">
                        <div style="display:flex; flex-direction:row">
                            <div class="" *ngFor="let image of group">
                                <img [src]="getImgContent('data:image/jpeg;base64,' + image.picByte)" class="mt-2 carousel-image" (click)="selectMainImage(image.picByte)">
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div *ngIf="product.images.length <= 0" class="col-lg-4">
                <img src="../assets/images/coming-soon.png" class="product-image ml-5">
            </div>
    
            <div class="col-lg-4 product-details">
                <div class="product-name">{{product.name}}</div>
                <app-product-item-details [product]="product" [productRating]="productRating"></app-product-item-details>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="flex-row mt-10 mb-10" *ngIf="carouselProductsFormatted.length > 0">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="carousel-headline mb-5">Mix & Match products</div>
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let group of carouselProductsFormatted">
                        <div class="d-flex">
                            <div class="col-6" *ngFor="let carouselProduct of group">
                                <app-product-item [product]="carouselProduct"></app-product-item>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="flex-row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <mat-tab-group mat-stretch-tabs dynamicHeight animationDuration="0ms" backgroundColor="warn" class="mat-elevation-z4">
                    <mat-tab label="Description">
                        <div class="font-size-30 mt-5 mb-5 ml-5 mr-5">
                            {{product.description}}
                        </div>
                    </mat-tab>
                    <mat-tab label="Reviews">
                        <form [formGroup]="reviewForm"> 
                            <div class="ml-5 mr-5 " class="write-review">
                                <button disabled class="font-size-30 ml-5 mb-5">WRITE A REVIEW</button>
                                <div class="flex-row ml-5">
                                    <span class="mr-3">Give a rating:</span>
                                    <ngb-rating 
                                    [max]="5" 
                                    id="reviewRating" 
                                    formControlName="reviewRating" 
                                    [readonly]="false"
                                    required></ngb-rating>
                                </div>
    
                                <mat-form-field class="ml-5" style="width: 90%" appearance="fill">
                                    <mat-label>Title</mat-label>
                                    <input id="reviewTitle" formControlName="reviewTitle" matInput required>

                                    <mat-error *ngIf="reviewTitle">
                                        <div *ngIf="!getErrorMessageRequiredReviewTitle()">
                                            {{getErrorMessageRequiredReviewTitle()}}
                                        </div>
                                    </mat-error>
                                </mat-form-field>
    
                                <mat-form-field class="ml-5" style="width: 90%" appearance="fill">
                                    <mat-label>Leave a comment</mat-label>
                                    <textarea 
                                    required 
                                    matInput 
                                    id="reviewText" 
                                    formControlName="reviewText"></textarea>

                                    <mat-error *ngIf="reviewText">
                                        <div *ngIf="!getErrorMessageRequiredReviewText()">
                                            {{getErrorMessageRequiredReviewText()}}
                                        </div>
                                    </mat-error>
                                </mat-form-field>

                                <div class="row mt-5 ml-5 mb-5">
                                    <mat-checkbox 
                                    class="col-3 font-size-15"
                                    (change)="onClickAnonymous($event)">Send as anonymous</mat-checkbox>
    
                                    <button  
                                    [disabled]="reviewForm.invalid" 
                                    mat-raised-button color="primary" 
                                    class="col-3" 
                                    (click)="onSendReview()">Send</button>
                                </div>
          
    
                            </div>

                        </form>
                        
                        <div *ngFor="let review of productReviews?.slice().reverse(); index as i" class="ml-5 mr-5 mt-4 mb-4">
                            <div class="d-flex mb-2">
                                <img 
                                [src]="getCustomerImgContent(review.customer?.imageCustomer)"
                                class="review-user-photo">
                                <div class="d-flex flex-column justify-content-center ml-3">
                                    <div *ngIf="review.customer != null">
                                        <h3>{{ review.customer.firstName}}  {{review.customer.lastName}}</h3>
                                    </div>
                                    <div *ngIf="review.customer == null">
                                        <h3>Anonymous</h3>
                                    </div>
                                    <span>{{review.creationDate | date:'medium'}}</span>
                                    <span *ngIf="review.edited">( Edited )</span>
                                </div>
                       
                            </div>
                            <div>
                        
                            </div>
                                        <!-- do not modify this structure -->
                            <div class="review-box">
                                <div class="review-title flex-space-between">
                                    <div>
                                        &nbsp;&nbsp;{{review.title}}
                                        <ngb-rating [max]="5" [rate]="review.rating" [readonly]="true"></ngb-rating>
                                    </div>
                
                                    <div class="text-align-right d-flex align-items-center">
                                        <mat-icon
                                        *ngIf="
                                        review.customer != null &&
                                        review.customer?.id == currentCustomer?.id" 
                                        (click)="onEditReview($event, review)" 
                                        role="button"
                                        >edit</mat-icon>
                                        &nbsp;
                                        <mat-icon 
                                        *ngIf="
                                        review.customer != null &&
                                        review.customer?.id == currentCustomer?.id" 
                                        (click)="onDeleteReview(review)" 
                                        role="button">delete</mat-icon>&nbsp;
                                    </div>
                            
                                </div> 
                                <div class="review-text mt-4 mb-4 ml-4 mr-4">
                                    <p>{{review.text}}</p>
                                </div>
                            </div>
                
                        </div>

                        <div *ngIf="!productReviews?.length" class="font-size-30 d-flex justify-content-center mb-5">
                            No reviews yet
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-lg-2"></div>
        </div>

        
    </div>
    
    <app-footer></app-footer>
</div>

    
