.carousel-image{
    margin-left: 10px;
    width: 150px;
    height: 200px;
    cursor: pointer;
}

.carousel-headline{
    border-top: 5px solid #e6e6e6;
    font-size: 50px;
    color: var(--primary);
}

.product-image{
    width: 100%;
    height: 600px;
}

.product-details {
    height: fit-content;
    
    .product-name{
        width: 100%;
        font-size: 50px;
        color: var(--warn);
    }
}


.review-user-photo{
    width: 100px;
}
.write-review{
    font-size: 30px;
    border: 2px solid var(--warn);
    margin-bottom: 7rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.review-box{
    border: 4px solid var(--warn);
    border-radius: 10px;

    .review-title{
        background-color: var(--primary);
        color: white;
        font-size: 25px;
        border-radius: 6px;
    }
    
    .review-text{
        font-size: 20px;
    }
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: black;
    }
    .mat-form-field-label {
        color: black;
    }
    .mat-form-field-underline {
        background-color: black;
    }
    .mat-form-field-ripple {
        background-color: black;
    }
    .mat-form-field-required-marker {
        color: black;
    }
}

