<div class="font-size-30">SKU: {{product.id}}</div>
<div class="font-size-30">Price: 
    <span>
        <del *ngIf="product.price != product.discountedPrice">{{product.price.toFixed(2)}} EUR</del>
        <span *ngIf="product.price == product.discountedPrice">{{product.price.toFixed(2)}} EUR</span>
    </span> 
    &nbsp;<span *ngIf="product.price != product.discountedPrice" class="text-danger">{{product.discountedPrice.toFixed(2)}} EUR</span>
</div>
<div 
class="font-size-30" 
*ngIf="productRating" 
[ngStyle]="{'margin-bottom': product.promotions.length <= 0 ? '90px' : 'none'}">
    Rating: 
    <ngb-rating 
    [max]="5" 
    [rate]="productRating"
    [readonly]="true"
    ></ngb-rating>
</div>
<div 
class="font-size-30" 
*ngIf="!productRating" 
[ngStyle]="{'margin-bottom': product.promotions.length <= 0 ? '90px' : 'none'}">
    Rating: no rating yet
</div>
<div 
*ngFor="let promotion of product.promotions; let last = last" 
[ngStyle]="{'margin-bottom': last ? '90px' : 'none'}">
    <span style="font-size: 30px; color: #3949ab">{{promotion.name}}
    <mat-icon
        type="button"
        placement="top"
        ngbPopover="{{promotion.description}}"
        popoverTitle="{{promotion.name}}">contact_support</mat-icon>
    </span>
</div>
              
<div class="add-to-cart">
    <span 
    *ngIf="product.quantity > 0" 
    class="availability forestgreen flex-row"
    >
        <mat-icon 
        class="availability forestgreen"
        >done</mat-icon> &nbsp; In stock
    </span>
    <span 
    *ngIf="product.quantity <= 0" 
    class="availability red flex-row">
        <mat-icon 
        class="availability red"
        >clear</mat-icon>&nbsp;  Out of stock
    </span>
    <button 
    mat-raised-button 
    color="accent" 
    *ngIf="product.quantity > 0" 
    class="btn"
    (click)="addToCart()"
    >ADD TO CART</button>
    <button 
    mat-raised-button 
    color="accent" 
    *ngIf="product.quantity <= 0" 
    [disabled]="product.quantity <= 0" 
    class="btn"
    >NOT AVAILABLE</button>
</div>
