<div class="page-container mt-5">
    <div class="content-wrap">

        <div class="d-flex justify-content-center mb-5 mt-5">
            <img class="w-25" src="../../../assets/images/email-verified.png">
        </div>

        <div class="d-flex flex-column align-items-center">
            <h1 class="mb-5">You email was successfully verified! </h1>
        </div>

    </div>
    <app-footer></app-footer>
    
</div>