<div class="page-container">
    <div class="content-wrap">

        <img src="./assets/images/mix&match.jpeg" class="w-100">
        <img src="./assets/images/spring-sale.jpeg" class="w-50">
        <img src="./assets/images/summer-sale.jpeg" class="w-50">
    </div>

    <app-footer></app-footer>
</div>
