

        <div class="logo-cart-display mb-4">
            <div id="logo-container" class="col-12 col-sm-3 col-md-3 col-lg-3 mt-4">
                <img src="./assets/images/logo.jpeg" id="logo">
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 mt-4 flex-row">

                <app-searchbar-product class="col-7"></app-searchbar-product>

                <a routerLink="/cart" mat-raised-button class="col-5" color="accent">
                    <div class="flex-inline">
                        <i class="material-icons" matBadge="{{cartItemNumber}}" matBadgePosition="before">shopping_cart</i>
                        <span class="xs-hidden">MY CART</span>
                    </div>
                </a>
            </div>
        </div>

        <mat-toolbar color="primary" class="toolbar">
            <a routerLink="/home">HOME</a>
            <a routerLink="/catalogue">CATALOGUE</a>
            <a routerLink="">INSPIRATION</a>
            <a routerLink="">BLOG</a>
            <a routerLink="">CONTACT</a>
            <div *ngIf="loggedIn" ngbDropdown>
                <button ngbDropdownToggle id="dropdownAccountButton" data-toggle="dropdown" mat-raised-button color="accent">MY ACCOUNT</button>
                <ul ngbDropdownMenu aria-labelledby="dropdownAccountButton">
                    <li><a ngbDropdownItem routerLink="/my-account" class="text-white">See profile</a></li>
                    <li><a ngbDropdownItem routerLink="" class="text-white">Order History</a></li>
                    <li><a (click)="onLogout()" ngbDropdownItem routerLink="" mat-raised-button color="accent">Log out</a></li>
                </ul>
            </div>

            <div *ngIf="!loggedIn">
                <a routerLink="/login" mat-raised-button color="accent">LOG IN</a>
            </div>

        </mat-toolbar>

        <mat-toolbar ngbDropdown color="primary" class="xs-toolbar">
        <mat-icon ngbDropdownToggle id="dropdownMenuButton" data-toggle="dropdown">menu</mat-icon> Menu

            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <li><a ngbDropdownItem routerLink="/home" class="text-white">HOME</a></li>
                <li><a ngbDropdownItem routerLink="/catalogue" class="text-white">CATALOGUE</a></li>
                <li><a ngbDropdownItem routerLink="" class="text-white">INSPIRATION</a></li>
                <li><a ngbDropdownItem routerLink="" class="text-white">BLOG</a></li>
                <li><a ngbDropdownItem routerLink="" class="text-white">CONTACT</a></li>
                <li *ngIf="!loggedIn"><a ngbDropdownItem routerLink="/login" mat-raised-button color="accent" >LOG IN</a></li>
                <li *ngIf="loggedIn" ngbDropdown>
                    <button ngbDropdownToggle id="dropdownAccountButton" data-toggle="dropdown" mat-raised-button color="accent" class="full-width">MY ACCOUNT</button>
                    <ul ngbDropdownMenu aria-labelledby="dropdownAccountButton" style="top: 5px !important">
                        <li><a ngbDropdownItem routerLink="/my-account" class="text-white">See profile</a></li>
                        <li><a ngbDropdownItem routerLink="" class="text-white">Order History</a></li>
                        <li><a (click)="onLogout()" ngbDropdownItem routerLink="" mat-raised-button color="accent">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </mat-toolbar>




<router-outlet></router-outlet>
