
.logo-cart-display{
    @media (max-width: 576px){
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 577px){
        display: flex;
        flex-direction: row;
    }
}

#logo{
    @media (min-width: 1140px){
        width: 300px;
    }

    @media (max-width: 1139px){
        width: 150px;
    }

    @media (max-width: 576px){
        width: 100%;
    }
}

#logo-container{
    @media (max-width: 1139px) and (min-width:576px){
        display: flex;
    }
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu.show{
    background-color: var(--primary) !important;
    top: 5px !important;
}

.dropdown-menu a:hover {
    background-color: var(--warn);
}

.toolbar{
    border-style: solid;
    border-color: yellow;
    justify-content: space-evenly;
    @media(max-width: 576px){
        display: none;
    }
}

.xs-toolbar{
    position: inherit !important;
    border-style: solid;
    border-color: yellow;
    @media(min-width: 577px){
        display: none;
    }
}







