<form [formGroup]="finalForm" class="final-form">

    <p><span class="label">First name:</span> {{personalInfoForm.get('firstName').value}}</p>

    <p><span class="label">Last name:</span> {{personalInfoForm.get('lastName').value}}</p>

    <p><span class="label">Email:</span> {{personalInfoForm.get('email').value}}</p>

    <p><span class="label">Phone:</span> {{personalInfoForm.get('phone').value}}</p>

    <p><span class="label">Address:</span> {{deliveryAddressForm.get('address').value}}</p>

    <p><span class="label">City:</span> {{deliveryAddressForm.get('city').value}}</p>

    <p><span class="label">Country:</span> {{deliveryAddressForm.get('country').value}}</p>

    <p><span class="label">Zip code:</span> {{deliveryAddressForm.get('zipCode').value}}</p>

    <div class="d-flex justify-content-between actions">
        <button mat-button color="primary" class="navigation-button" matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon> Back 
        </button>
        <button mat-raised-button color="primary" class="navigation-button" (click)="onOrder()">
            Order <mat-icon>keyboard_arrow_right</mat-icon> 
        </button>
    </div>
    
</form>

