<div class="page-container mt-5">
    <div class="content-wrap">
        <div class="login-forms-style">
                <mat-card class="login-card">
                    <mat-card-header>
                        <mat-card-title>Login</mat-card-title>
                        <mat-card-subtitle>Already a registered customer? Log in here!</mat-card-subtitle>
                    </mat-card-header>
                
                    <mat-card-content>
                
                        <form #lForm="ngForm" [formGroup]="loginForm" >
                
                            <mat-form-field class="full-width">
                                <input id="emailLogin" type="text" formControlName="email" matInput placeholder="Email"
                                    required>
                                <mat-error *ngIf="emailLogin">{{getErrorMessageRequiredEmailLogin()}}</mat-error>
                            </mat-form-field>
                
                
                            <mat-form-field class="full-width">
                                <input matInput id="passwordLogin" [type]="hide ? 'password' : 'text'"
                                    formControlName="password" placeholder="Password" required>
                                <mat-icon [ngStyle]="{'color':'black'}" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                
                                <mat-error *ngIf="passwordLogin">
                                    <div *ngIf="getErrorMessageRequiredPasswordLogin()!=true">
                                        {{getErrorMessageRequiredPasswordLogin()}}
                                    </div>
                                </mat-error>
                
                            </mat-form-field>
                
                            <mat-checkbox class="checkbox" [checked]="checked" (change)="onClickRememberMe($event)">Remember me
                            </mat-checkbox>
                
                            <mat-card-actions>
                                <button  (click)="onLogin(lForm)"
                                [disabled]="loginForm.invalid" class="full-width mt-3" mat-raised-button color="primary">Login</button>
                            </mat-card-actions>
                
                        </form>

                        <p style="color: black; font-size: 20px;">
                            Don't have an account? <a routerLink="register" style="color: blue;">Register here!</a>
                        </p>

                        
                
                    </mat-card-content>
                </mat-card>
        </div>
    </div>

   <app-footer></app-footer>
</div>



