.login-forms-style{
    padding: 30px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;

    @media (min-width:800px){
        align-items: center;
    }

    .login-card{
        background: white;
        @media (min-width:800px){
            width: 700px;
        }
        width: auto;
      }
    
}
  
  .mat-error{
      color: red;
  }

  .checkbox{
    color: var(--primary);
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame{
    border-color: var(--primary);
  }

  
  ::ng-deep .mat-card{
      .mat-card-title, .mat-card-subtitle{
          color:var(--primary);
      }
  }
  
  ::ng-deep .mat-select-panel {
      background-color: rgb(97, 199, 151);
  }
  
  ::ng-deep .mat-form-field {
    height: 80px;

      .mat-input-element {
          color: black;
      }
      .mat-form-field-label {
          color: slategray;
      }
      .mat-form-field-underline {
          background-color: slategray;
      }
      .mat-form-field-ripple {
          background-color: slategray;
      }
      .mat-form-field-required-marker {
          color: slategray;
      }
      .mat-select-value{
          color:black;
      }
  }

  ::ng-deep .mat-snack-bar-container{
    background-color: var(--accent) !important;
  }
  