
.payment-details-form {
    .card-icon {
        padding: 6px 12px;
        background-color: var(--color-light-grey);
        border: 1px solid var(--color-medium-grey);
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .navigation-button {
        font-size: 20px;
    }

    .actions {
        margin-top: 90px;
    }

    .error {
        color: var(--color-red);;
    }

    input.ng-invalid.ng-touched{
        border: 1px solid var(--color-red);;
    }
}
