<form [formGroup]="paymentDetailsForm" class="payment-details-form">

    <div class="row">

      <div class="form-group col-12">
          <label for="cardName">Name on Card</label>
          <input type="text" class="form-control" id="cardName" formControlName="cardName" type="text">
          <small
          class="error" 
          *ngIf="
          paymentDetailsForm.controls['cardName'].invalid && 
          (paymentDetailsForm.controls['cardName'].dirty || paymentDetailsForm.controls['cardName'].touched)" 
          >
              <small *ngIf="paymentDetailsForm.controls['cardName'].errors['required']">
                  Please enter full name on your card
              </small>
          </small>
      </div>

      <div class="form-group col-12">
          <label for="cardNumber">Card Number</label>
          <div class="input-group">
              <input class="form-control" id="cardNumber" formControlName="cardNumber" type="number">
              <div class="card-icon">
                  <img src="../../../assets/images/card-icon.png" height="20px">
              </div>
          </div>
          <small
          class="error" 
          *ngIf="
          paymentDetailsForm.controls['cardNumber'].invalid && 
          (paymentDetailsForm.controls['cardNumber'].dirty || paymentDetailsForm.controls['cardNumber'].touched)" 
          >
              <small *ngIf="paymentDetailsForm.controls['cardNumber'].errors['required']">
                  Please enter your card number
              </small>
          </small>
      </div>
      
      <div class="form-group col-7">
         <label for="expiryDate">Expiry Date</label>
         <input class="form-control" id="expiryDate" formControlName="expiryDate" placeholder="MM/YYYY" type="date">
         <small
         class="error" 
         *ngIf="
         paymentDetailsForm.controls['expiryDate'].invalid && 
         (paymentDetailsForm.controls['expiryDate'].dirty || paymentDetailsForm.controls['expiryDate'].touched)" 
         >
             <small *ngIf="paymentDetailsForm.controls['expiryDate'].errors['required']">
                 Please enter card expiry date
             </small>
         </small>
      </div>

      <div class="form-group col-5">
        <label for="securityCode">Security Code</label>
        <input class="form-control" id="securityCode" formControlName="securityCode" type="number">
        <small
        class="error" 
        *ngIf="
        paymentDetailsForm.controls['securityCode'].invalid && 
        (paymentDetailsForm.controls['securityCode'].dirty || paymentDetailsForm.controls['securityCode'].touched)" 
        >
            <small *ngIf="paymentDetailsForm.controls['securityCode'].errors['required']">
                Please enter the security code on the back of your card
            </small>
        </small>
     </div>
   </div>	

   <div class="d-flex justify-content-between actions">
      <button mat-button color="primary" class="navigation-button" matStepperPrevious
      > <mat-icon>keyboard_arrow_left</mat-icon> Back </button>
      <button mat-button color="primary" class="navigation-button" matStepperNext (click)="onValidateForm()">
          Next <mat-icon>keyboard_arrow_right</mat-icon> 
      </button>
  </div>

</form>