<div class="page-container mt-5">
    <div class="content-wrap">
        <div class="d-flex justify-content-center">
            <img src="../assets/images/page-not-found.png" class="w-50">
        </div>

    </div>

    <app-footer></app-footer>
</div>