<div class="footer">
    <div class="col-3 footer-divs" style="border-right-style: solid; border-right-color: yellow;">
        Amekron AB
        <br>
        Iuliu Maniu 2A
        <br>
        41276 Brasov
        <br>
        Romania
    </div>
    <div class="col-9 footer-divs flex-column">
        <div class="flex-row">
            <p>Subscribe to newsletter</p> &nbsp;&nbsp;
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="E-mail">
                <div class="input-group-append">
                <button mat-raised-button color="accent" class="button-subscribe"><mat-icon>play_arrow</mat-icon></button>
                </div>
            </div>
        </div>
    <div>
        <img src="../assets/images/facebook.png" width="50px">
        <img src="../assets/images/instagram.png" width="40px">
    </div>
        
    </div>
        
</div>
