<div class="page-container mt-5">
    <div class="content-wrap">

        <div class="d-flex justify-content-center mb-5 mt-5">
            <img class="order-confirmed-img" src="../../../assets/images/email-sent.png">
        </div>

        <div class="d-flex flex-column align-items-center">
            <h1 class="mb-5">Email verification successfully sent to: </h1>
            <h3>{{emailSentTo}}</h3>
        </div>

    </div>
    <app-footer></app-footer>
    
</div>