<div class="title mt-5 mb-5">
  RESULTS
</div>
<div class="page-container mt-5">
    <div class="content-wrap">
        <mat-paginator #paginator 
        *ngIf="!noProdAvailable"
        class="paginator"
        (page)="onPageChange($event)"
        [length]="productsNumber"
        [pageSize]="6">
        </mat-paginator>

        <div class="flex-wrap products-list col-lg-12 col-md-9 col-sm-12 col-xs-12" *ngIf="!noProdAvailable">
          <div *ngFor="let product of currentProductsToShow" class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px; padding-bottom: 40px">
            <app-product-item [product]="product"></app-product-item>
          </div>
        </div>

        <div *ngIf="noProdAvailable" style="font-size: 50px;" class="d-flex justify-content-center">
          No products found!
        </div>
    </div>
<app-footer></app-footer>
</div>