
    <div class="card mb-3">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Have coupon?</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="Coupon code">
                        <span class="input-group-append"> 
                            <button mat-raised-button color="primary" (click)="onApplyCoupon()">Apply</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>  
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <span class="col-6">Subtotal:</span>
                <span class="col-6">{{ cart?.subtotalPrice.toFixed(2) }} EUR</span>
            </div>
            <div class="d-flex">
                <span class="col-6 text-success">Discount:</span>
                <span class="col-6 text-success">{{ cart?.discount.toFixed(2) }} EUR</span>
            </div>
            <div class="d-flex">
                <span class="col-6">Delivery tax:</span>
                <span class="col-6">{{ cart?.deliveryTax.toFixed(2) }} EUR</span>
            </div>
            <hr>
            <div class="d-flex">
                <h4 class="col-6"><strong>Total:</strong></h4>
                <h4 class="col-6">
                    <strong>{{ cart?.totalPrice.toFixed(2) }} EUR</strong>
                </h4>
            </div>
            <hr>
            <p class="text-center mb-3">
                <img src="assets/images/payments.png" height="26">
            </p>
                        
        </div> 
    </div> 
