<div mat-dialog-content class="text-dark">
    <h2>Are you sure you want to delete your account?</h2>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()" class="w-25" cdkFocusInitial>NO</button>
    <button mat-raised-button (click)="onDelete(data.updateForm)" class="w-25 bg-danger">YES</button>
</div>