<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">
        <div>
          <mat-spinner></mat-spinner>
        </div>
    </div>

    <div class="page-container mt-5">
        <div class="content-wrap">
            <div class="login-forms-style">
                    <mat-card class="register-card">
                        <mat-card-header>
                            <mat-card-title>Register</mat-card-title>
                            <mat-card-subtitle>Still a guest? Register here!</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>

                            <form #rForm="ngForm" [formGroup]="registerForm">

                                <mat-form-field class="full-width">
                                    <input type="text" formControlName="email" matInput placeholder="Email"
                                        required>
                                    <mat-error *ngIf="email">{{getErrorMessageRequiredEmailRegister()}}</mat-error>
                                </mat-form-field>
                                
                                <mat-form-field class="full-width">
                                    <input [type]="hide1 ? 'password' : 'text'" formControlName="password" matInput
                                        placeholder="Password" required>
                                    <mat-icon [ngStyle]="{'color':'black'}" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                
                                    <mat-error *ngIf="password">
                                        <div *ngIf="getErrorMessageRequiredPasswordRegister()!=true">
                                            {{getErrorMessageRequiredPasswordRegister()}}
                                        </div>
                                    </mat-error>

                                    <mat-error *ngIf="password">
                                        <div *ngIf="getErrorMessageStrengthPasswordRegister()!=true">
                                            {{getErrorMessageStrengthPasswordRegister()}}
                                        </div>
                                    </mat-error>

                                    <mat-error *ngIf="password">
                                        <div *ngIf="getErrorMessageLengthPasswordRegister()!=true">
                                            {{getErrorMessageLengthPasswordRegister()}}
                                        </div>
                                    </mat-error>

                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="passwordRegisterConfirm" [type]="hide2 ? 'password' : 'text'" formControlName="passwordRegisterConfirm" matInput placeholder="Password Confirmation"
                                        required>
                                    <mat-icon [ngStyle]="{'color':'black'}" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>

                                
                                    <mat-error *ngIf="passwordRegisterConfirm">
                                        <div *ngIf="getErrorMessageRequiredPasswordRegisterConfirm()!=true">
                                            {{getErrorMessageRequiredPasswordRegisterConfirm()}}
                                        </div>
                                    </mat-error>
                                
                                    <mat-error *ngIf="passwordRegisterConfirm">
                                        <div *ngIf="getErrorPasswordsEqual()!=true">
                                            Passwords do not match
                                        </div>
                                    </mat-error>
                                
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="firstName" type="text" formControlName="firstName" matInput placeholder="First Name"
                                        required>

                                    <mat-error *ngIf="firstName">
                                        <div *ngIf="getErrorMessageRequiredFirstName()!=true">
                                            {{getErrorMessageRequiredFirstName()}}
                                        </div>
                                    </mat-error>

                                    <mat-error *ngIf="firstName">
                                        <div *ngIf="getErrorMessageLengthFirstName()!=true">
                                            {{getErrorMessageLengthFirstName()}}
                                        </div>
                                    </mat-error>

                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="lastName" type="text" formControlName="lastName" matInput placeholder="Last Name" required>

                                    <mat-error *ngIf="lastName">
                                        <div *ngIf="getErrorMessageRequiredLastName()!=true">
                                            {{getErrorMessageRequiredLastName()}}
                                        </div>
                                    </mat-error>

                                    <mat-error *ngIf="lastName">
                                        <div *ngIf="getErrorMessageLengthLastName()!=true">
                                            {{getErrorMessageLengthLastName()}}
                                        </div>
                                    </mat-error>

                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="address" type="text" formControlName="address" matInput placeholder="Address (street, block/house number, apartment number, etc)">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="city" type="text" formControlName="city" matInput placeholder="City">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="country" type="text" formControlName="country" matInput placeholder="Country">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="phone" type="number" formControlName="phone" matInput placeholder="Phone">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input id="zipCode" type="text" formControlName="zipCode" matInput placeholder="Zip code">
                                </mat-form-field>

                                fdgfh {{getErrorMessageRequiredPasswordRegister()}}
                                <mat-card-actions>
                                    <button (click)="onRegister(rForm)" 
                                    [disabled]="registerForm.invalid" 
                                    class="full-width mt-3" 
                                    mat-raised-button 
                                    color="primary">Register</button>
                                </mat-card-actions>
                                
                            </form>

                        </mat-card-content>
                    </mat-card>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
    
</div>




