<form [formGroup]="deliveryAddressForm" class="delivery-address-form">

    <label>Address:</label>
    <div class="form-group">
        <input class="form-control" id="address" formControlName="address">
        <small
        class="error" 
        *ngIf="
        deliveryAddressForm.controls['address'].invalid && 
        (deliveryAddressForm.controls['address'].dirty || deliveryAddressForm.controls['address'].touched)" 
        >
            <small *ngIf="deliveryAddressForm.controls['address'].errors['required']">
                Please enter your address
            </small>
        </small>
    </div>

    <label>City:</label>
    <div class="form-group">
        <input class="form-control" id="city" formControlName="city">
        <small
        class="error" 
        *ngIf="
        deliveryAddressForm.controls['city'].invalid && 
        (deliveryAddressForm.controls['city'].dirty || deliveryAddressForm.controls['city'].touched)" 
        >
            <small *ngIf="deliveryAddressForm.controls['city'].errors['required']">
                Please enter your city
            </small>
        </small>
    </div>

    <label>Country:</label>
    <div class="form-group">
        <input class="form-control" id="country" formControlName="country">
        <small
        class="error" 
        *ngIf="
        deliveryAddressForm.controls['country'].invalid && 
        (deliveryAddressForm.controls['country'].dirty || deliveryAddressForm.controls['country'].touched)" 
        >
            <small *ngIf="deliveryAddressForm.controls['country'].errors['required']">
                Please enter your country
            </small>
        </small>
    </div>

    <label>ZIP code:</label>
    <div class="form-group">
        <input class="form-control" id="zipCode" formControlName="zipCode">
    </div>

    <mat-checkbox 
    *ngIf="this.customer"
    class="checkbox" 
    (change)="onCompleteWithData($event)"
    >Complete with my data</mat-checkbox>

    <div class="d-flex justify-content-between mt-3">
        <button mat-button color="primary" class="navigation-button" matStepperPrevious
        > <mat-icon>keyboard_arrow_left</mat-icon> Back </button>
        <button mat-button color="primary" class="navigation-button" matStepperNext  (click)="onValidateForm()">
            Next <mat-icon>keyboard_arrow_right</mat-icon> 
        </button>
    </div>

</form>

