  <div *ngIf="product.images.length > 0">
    <img [src]="getImgContent('data:image/jpeg;base64,' + product.images[0].picByte)" class="product-image" (click)="onSelectProduct()">
  </div>
  <div *ngIf="product.images.length <= 0">
    <img src="../assets/images/coming-soon.png" class="product-image" (click)="onSelectProduct()">
  </div>
  <div class="product-name" (click)="onSelectProduct()">{{product.name}}</div>
  <app-product-item-details [product]="product"></app-product-item-details>

  <router-outlet></router-outlet>

