.product-name {
    cursor: pointer;
    color: var(--warn);
    text-transform: uppercase;

    @media (min-width: 1238px) {
      font-size: 50px;
    }

    @media (max-width: 2000px) {
      font-size: 40px;
    }

    @media (max-width: 755px) {
      font-size: 30px;
    }
  }

  .product-image {
    width: 100%;
    cursor: pointer;

    @media (min-width: 2000px) {
      height: 700px;
    }

    @media (max-width: 2000px) {
      height: 400px;
    }

    @media (max-width: 755px) {
      height: 300px;
    }
  }

  .add-to-cart-btn {
    color: black;
    background-color: var(--accent);
    width: 100%;
    height: 50px;
    font-size: 25px;
  }

  .stock-add-to-cart-area {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 40px;
    margin-top: 30px;
    font-size: 20px;
  }