.wrapper {

    .overlay {
        position: absolute;
        z-index: 1002;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .checkout-stepper {
        height: 600px;
        background-color: white;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }
}



