<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">
        <div>
          <mat-spinner></mat-spinner>
        </div>
    </div>

    <div class="page-container mt-5">
        <div class="content-wrap"  [class.blurred]="showSpinner">

            <section>
                <div class="container">
                        
                    <div class="row">
                        <main class="col-md-8">

                            <mat-horizontal-stepper linear="true" #stepper="matHorizontalStepper" class="checkout-stepper">

                                <mat-step [stepControl]="personalInfoForm">
                                    <ng-template matStepLabel>Personal Information</ng-template>
                                    <app-personal-info-form [personalInfoForm]="personalInfoForm"></app-personal-info-form>
                                </mat-step>

                                <mat-step [stepControl]="deliveryAddressForm">
                                    <ng-template matStepLabel>Delivery Address</ng-template>
                                    <app-delivery-address-form [deliveryAddressForm]="deliveryAddressForm"></app-delivery-address-form>
                                </mat-step>

                                <mat-step [stepControl]="paymentDetailsForm">
                                    <ng-template matStepLabel>Payment details</ng-template>
                                    <app-payment-details-form [paymentDetailsForm]="paymentDetailsForm"></app-payment-details-form>
                                </mat-step>

                                <mat-step [stepControl]="finalForm">
                                    <ng-template matStepLabel>Review</ng-template>
                                    <app-final-form [finalForm]="finalForm" [cart]="cart"></app-final-form>
                                </mat-step>

                            </mat-horizontal-stepper>

                        </main>

                        <app-cart-totals [cart]="cart" class="col-md-4"></app-cart-totals>
                    </div>
                </div>
            </section>

        </div>


        <app-footer></app-footer>
        
    </div>
</div>
