<div class="page-container mt-5">
    <div class="content-wrap">
        <app-checkout *ngIf="onCheckout"></app-checkout>
        <app-cart-items *ngIf="!onCheckout && cart?.products.length > 0" [cart]="cart"></app-cart-items>
        <h3 *ngIf="cart?.products.length == 0 || !cart" class="d-flex justify-content-center">No products added in cart!</h3>
    </div>
    <app-footer></app-footer>
</div>
