<div class="page-container mt-5">
    <div class="content-wrap">

        <div class="d-flex justify-content-center">
            <img class="order-confirmed-img" src="../../../assets/images/order-confirmed.png">
        </div>

        <div class="d-flex flex-column align-items-center">
            <h1 class="mb-5">Order successfully sent!</h1>
            <h4> You will shortly receive a mail with all the details!</h4>
            <div>Thank you for ordering from us! </div>
        </div>

    </div>
    <app-footer></app-footer>
    
</div>
