<div class="page-container mt-5">
    <div class="content-wrap">
        <div class="change-password-form-style">
            <mat-card class="change-password-card">

                <mat-card-header class="header mb-5">
                    PASSWORD CHANGE
                </mat-card-header>
            
                <mat-card-content>
            
                    <form #form="ngForm" [formGroup]="changePasswordForm" >
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="password" formControlName="password">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="firstName" formControlName="firstName">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="lastName" formControlName="lastName">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="email" formControlName="email">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="phone" formControlName="phone">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="address" formControlName="address">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="city" formControlName="city">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="country" formControlName="country">
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="zipCode" formControlName="zipCode">
                        </div>
                        
                        <mat-form-field class="full-width">
                            <input [type]="hide1 ? 'password' : 'text'" formControlName="password" matInput
                                placeholder="New Password" required>
                            <mat-icon [ngStyle]="{'color':'black'}" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        
                            <mat-error *ngIf="password">
                                <div *ngIf="getErrorMessageRequiredPassword()!=true">
                                    {{getErrorMessageRequiredPassword()}}
                                </div>
                            </mat-error>

                            <mat-error *ngIf="password">
                                <div *ngIf="getErrorMessageStrengthPassword()!=true">
                                    {{getErrorMessageStrengthPassword()}}
                                </div>
                            </mat-error>

                            <mat-error *ngIf="password">
                                <div *ngIf="getErrorMessageLengthPassword()!=true">
                                    {{getErrorMessageLengthPassword()}}
                                </div>
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input id="passwordConfirm" [type]="hide2 ? 'password' : 'text'" formControlName="passwordConfirm" matInput placeholder="New Password Confirmation"
                                required>
                            <mat-icon [ngStyle]="{'color':'black'}" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>

                            <mat-error *ngIf="passwordConfirm">
                                <div *ngIf="getErrorPasswordsEqual()!=true">
                                    Passwords do not match
                                </div>
                            </mat-error>
                            
                            <mat-error *ngIf="passwordConfirm">
                                <div *ngIf="getErrorMessageRequiredPasswordConfirm()!=true">
                                    {{getErrorMessageRequiredPasswordConfirm()}}
                                </div>
                            </mat-error>
                        
                        </mat-form-field>
            
                        <mat-card-actions>
                            <button  (click)="onChangePassword(changePasswordForm)"
                            [disabled]="getErrorMessageRequiredPassword()!=true ||
                                        getErrorMessageStrengthPassword()!=true ||
                                        getErrorMessageLengthPassword()!=true ||
                                        getErrorPasswordsEqual()!=true ||
                                        getErrorMessageRequiredPasswordConfirm()!=true" class="full-width mt-3" mat-raised-button color="primary">Change password</button>
                        </mat-card-actions>
            
                    </form>
            
                </mat-card-content>
            </mat-card>
            
        </div>
    </div>

    <app-footer></app-footer>
</div>

