
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@font-face{
  font-family: domino;
  src: url(assets/fonts/Domino.otf) format("opentype");
}
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'domino'
);
@include mat-core($custom-typography);


$Frontend-primary: mat.define-palette(mat.$indigo-palette, 600);
$Frontend-accent: mat.define-palette(mat.$yellow-palette);

// The warn palette is optional (defaults to red).
$Frontend-warn: mat.define-palette(mat.$grey-palette);


$Frontend-theme: mat.define-dark-theme((
  color: (
    primary: $Frontend-primary,
    accent: $Frontend-accent,
    warn: $Frontend-warn,
  )
));

@include mat.all-component-themes($Frontend-theme);

