/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: domino; }

:root {
  --primary: #3949ab;
  --accent: #ffeb3b;
  --warn: grey;
  --color-light-grey: #eee;
  --color-medium-grey: #ccc;
  --color-red: red;
}

ngb-rating {
  color: #FFC107;
}

.mb-10{
  margin-bottom: 10rem !important;
}

.mt-10{
  margin-top: 10rem !important;
}

.mat-tab-label-content{
  font-size: 40px !important;
}

.carousel-indicators{
  display: none;
}

.carousel-control-prev{
  margin-left: -70px;
  .carousel-control-prev-icon{
      background-color: black;
  }
}

.carousel-control-next{
  margin-right: -70px;
  .carousel-control-next-icon{
    background-color: black;
}
}

.full-width {
    width: 100%;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-inline{
    display: inline-flex;
    align-items: center;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

a{
    color: white;
}

a:hover{
    color: white;
}

.xs-hidden{
    @media(max-width: 576px){
        display: none !important;
    }
}

::-webkit-scrollbar {
  display: none;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-15 {
  font-size: 15px;
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

.mat-checkbox-frame {
  border-color: black !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: black;
}

.mat-radio-checked .mat-radio-inner-circle {
  background-color: black !important;
}

mat-expansion-panel-header {
  color: black !important;
  background-color: var(--accent)  !important;
  height: 100px !important;
}

.mat-expansion-panel-body {
  background-color: var(--accent);
  color: black;
}

.primary{
    color: var(--primary);
}

.accent{
  color: var(--accent);
}

.forestgreen {
  color: forestgreen;
}

.red {
  color: red;
}

.text-align-right{
  text-align: right;
}

.text-white{
    color: white;
}

.text-primary{
    color: var(--main-color);
}

.page-container {
    position: relative;
  }

  .content-wrap {
    padding-bottom: 15rem;    /* Footer height */
  }

  .footer{
    height: 9rem;
    border-top-style: solid;
    border-top-color: yellow;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
    background-color: var(--warn);
    width: 100%;
    font-size: 20px;
    @media (max-width:576px){
        font-size: 12px;
        .form-control{
            font-size: 10px;
        }
    }

}

.paginator {
  color: black;
  background-color: white;
  font-size: 20px;
  .mat-paginator-container{
    justify-content: center !important;
  }
  
}

.footer-divs{
    display: flex;
    justify-content: center;
    .input-group{
        width: 50%;;
    }
    @media (max-width:320px){
        flex-direction: column;
        .input-group{
            width: 100%;
        }
    }
}

.mat-raised-button.mat-button-disabled{
    background-color: var(--warn) !important;
}

.mat-error{
  color: red;
}

.mat-step-text-label {
  color: black;
}

.mat-stepper-horizontal-line {
  border-top-color: lightgrey;
}

.mat-step-header .mat-step-icon {
  background-color: lightgrey;
}

.mat-step-header .mat-step-icon-selected {
  background-color: var(--primary);
}

.title{
    font-size: 60px;
    color: var(--warn);
    display: flex;
    border-bottom: 4px;
    margin-left: 70px;

    @media(max-width: 485px){
        margin-left: 30px;
        font-size: 40px;
    }
}

.button-subscribe{
    @media(max-width: 576px){
    height: 30px;
    }
}

.mat-snack-bar-container{
    background-color: var(--accent);
}

.mat-radio-outer-circle {
  border-color: black !important;
}

.mat-form-field-underline::before{
  background-color:black !important;
}


.mat-dialog-container {
  background-color: white;
}