<form [formGroup]="personalInfoForm" class="personal-info-form">

    <label>First name:</label>
    <div class="form-group">
        <input class="form-control" id="firstName" formControlName="firstName">
        <small
        class="error" 
        *ngIf="
        personalInfoForm.controls['firstName'].invalid && 
        (personalInfoForm.controls['firstName'].dirty || personalInfoForm.controls['firstName'].touched)" 
        >
            <small *ngIf="personalInfoForm.controls['firstName'].errors['required']">
                Please enter your first name
            </small>
        </small>
    </div>

    <label>Last name:</label>
    <div class="form-group">
        <input class="form-control" id="lastName" formControlName="lastName">
        <small
        class="error" 
        *ngIf="
        personalInfoForm.controls['lastName'].invalid && 
        (personalInfoForm.controls['lastName'].dirty || personalInfoForm.controls['lastName'].touched)" 
        >
            <small *ngIf="personalInfoForm.controls['lastName'].errors['required']">
                Please enter your last name
            </small>
        </small>
    </div>

    <label>Email:</label>
    <div class="form-group">
        <input class="form-control" id="email" formControlName="email" type="email">
        <small
        class="error" 
        *ngIf="
        personalInfoForm.controls['email'].invalid && 
        (personalInfoForm.controls['email'].dirty || personalInfoForm.controls['email'].touched)" 
        >
            <small *ngIf="personalInfoForm.controls['email'].errors['required']">
                Please enter your email
            </small>
        </small>
    </div>

    <label>Phone:</label>                                    
    <div class="form-group">
        <input class="form-control" id="phone" formControlName="phone" type="number">
        <small
        class="error" 
        *ngIf="
        personalInfoForm.controls['phone'].invalid && 
        (personalInfoForm.controls['phone'].dirty || personalInfoForm.controls['phone'].touched)" 
        >
            <small *ngIf="personalInfoForm.controls['phone'].errors['required']">
                Please enter your phone number
            </small>
        </small>
    </div>

    <mat-checkbox 
    *ngIf="this.customer"
    class="checkbox" 
    (change)="onCompleteWithData($event)"
    >Complete with my data</mat-checkbox>
    
    <div class="d-flex justify-content-end mt-3">
        <button mat-button color="primary" class="navigation-button" matStepperNext (click)="onValidateForm()">
            Next <mat-icon>keyboard_arrow_right</mat-icon> 
        </button>
    </div>
    
</form>
