.personal-info-form {
    .navigation-button {
        font-size: 20px;
    }

    .error {
        color: var(--color-red);;
    }

    input.ng-invalid.ng-touched{
        border: 1px solid var(--color-red);;
    }
}