<div mat-dialog-content class="text-dark">
    <h2 [innerHTML]="data.message"></h2>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()" class="w-25">OK</button>
</div>