.table-shopping-cart {
    thead {
        background-color: var(--primary);
        color: white;

        .product {
            width: 40%;
        }
    }

    tbody {
        .product-image {
            width: 100px;
            cursor: pointer;
        }
    
        .product-name {
            cursor: pointer;
        }
    
        .promo {
            color: var(--primary);
        }
    }
}