<ng-container *ngIf="cart?.mixMatch">
    <div class="alert alert-success mt-3">
        <p class="icontext">Mix and Match promotion added 20% total discount! You have at least 3 different Mix&Match products in cart!</p>
    </div>
</ng-container>

<ng-container *ngIf="stockError">
    <div #stockErrorAlert class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Quantity cannot exceed maximum product stock!
    </div>
</ng-container>

<section>
    <div class="container">
            
        <div class="row">
            <main class="col-md-8">
                <div class="card">
            
                    <table class="table table-borderless table-shopping-cart">
                        <thead>
                            <tr class="small text-uppercase">
                                <th class="product">Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th class="text-right"> </th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr *ngFor="let product of cart?.products; index as i" class="border-bottom">
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div *ngIf="product.images.length > 0">
                                                <img 
                                                [src]="getImgContent('data:image/jpeg;base64,' + product.images[0].picByte)" 
                                                class="product-image" 
                                                (click)="onSelectProduct(product)">
                                            </div>
                                            <div *ngIf="product.images.length <= 0">
                                                <img 
                                                src="../assets/images/coming-soon.png" 
                                                class="product-image" 
                                                (click)="onSelectProduct(product)">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <a  (click)="onSelectProduct(product)" class="text-dark product-name">{{ product.name }}</a>
                                            <p class="text-muted small">SKU: {{ product.id }}</p>
                                            <div 
                                                *ngFor="let promotion of product.promotions; last as last" 
                                                [ngStyle]="{'margin-bottom': last ? '90px' : 'none'}"
                                            >
                                                <span class="promo">{{promotion.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td> 
                                    <app-cart-item-counter 
                                    [qty]="cart.quantities[product.id]" 
                                    [product]="product"
                                    (displayStockError)="stockErrorChange($event)"
                                    (cart)="cartChange($event)"
                                    ></app-cart-item-counter>
                                </td>
                                <td> 
                                    <div class="row"> 
                                        <p class="text-muted">{{ cart.productsTotalPrice[product.id].toFixed(2) }} EUR</p>
                                        <div class="d-flex flex-column">
                                            <span>
                                                <del *ngIf="product.price != product.discountedPrice">{{product.price.toFixed(2)}} EUR each</del>
                                                <span *ngIf="product.price == product.discountedPrice">{{product.price.toFixed(2)}} EUR each</span>
                                            </span> 
                                            <span *ngIf="product.price != product.discountedPrice" class="text-danger">{{product.discountedPrice.toFixed(2)}} EUR each</span>
                                       
                                        </div>
                                     </div>
                                </td>
                                <td class="text-right"> 
                                    <!-- <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>  -->
                                    <a class="btn btn-light" (click)="onRemoveProduct(product.id)"> Remove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
                    <div class="card-body">
                        <button 
                            class="float-md-right"
                            mat-raised-button
                            color="primary"
                            (click)="onNavigateToCheckout()" 
                        > Make Purchase <i class="fa fa-chevron-right"></i> 
                        </button>

                        <button
                            mat-button
                            color="primary" 
                            (click)="onContinueShopping()" 
                            > <i class="fa fa-chevron-left"></i> Continue shopping 
                        </button>
                    </div>  
                </div> 
                
            </main>

            <app-cart-totals [cart]="cart" class="col-md-4"></app-cart-totals>
        </div>
                
    </div> 
</section>
                
<section class="mt-5">
    <div class="container">
        <h5><strong>Payment and refund policy</strong></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>

