.wrapper {
    width: 100%;
    height: 100%;
 
    .overlay {
        position: absolute;
        z-index: 1002;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        
        .spinner-wrapper {
            display: flex;
            justify-content: center; 
            justify-items: center;
          }
    }

    .profile-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(min-width: 800px){
            align-items: flex-end;
        }
    }

    .avatar{
        @media(max-width: 1170px){
            width: 250px;
            height: 330px;
        }
        @media(min-width: 1170px){
            width: 400px;
            height: 330px;
        }
        @media(min-width: 2180px){
            width: 550px;
            height: 330px;
        }

    }

    .first-form{
        @media (min-width: 1104px){
            margin-bottom: 15px;
        }

        @media (min-width: 769px) and (max-width: 1103px){
            margin-bottom: -10px;
        }

        @media (max-width: 768px) and (min-width: 643px){
            margin-bottom: 15px;
        }

        @media (max-width: 642px){
            margin-bottom: -10px;
        }

    }

    .button-update{
        @media (max-width: 520px){
            font-size: 10px;
        }
        margin-right: 10px;
        background-color: var(--primary);
    }

    .button-delete{
        @media (max-width: 520px){
            font-size: 10px;
        }

        @media(max-width: 384px){
            margin-top: 20px;
        }

        margin-right: 10px;
        background-color: red;
    }

    .update-password-link{
        display: flex;
        align-items: center;
        cursor: pointer;
        @media (max-width: 520px){
            font-size: 10px;
        }

        @media(max-width: 384px){
            margin-top: 20px;
        }
    }

    .all-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 768px){
            flex-direction: column;
        }
    }

    .form-style{
        display: flex;
        align-items: center;
        @media(max-width: 443px){

            flex-direction: column;

        }
    }

    .buttons-style{
        display: flex;

        @media (min-width: 385px){
            margin-right: 7%;
            justify-content: flex-end;
        }


        @media(max-width: 384px){
            flex-direction: column;
            margin-left: 7%;
        }

    }

    input.ng-invalid {
        border: 1px solid red;
    }
}
  

  
