
<div class="wrapper">
    <div class="overlay" *ngIf="showSpinner">
        <div class="spinner-wrapper">
          <mat-spinner></mat-spinner>
        </div>
    </div>

    <div class="page-container mt-5" [class.blurred]="showSpinner">
        <div class="content-wrap">
    
            <div class="title mt-5 mb-5">
                MY PROFILE
            </div>
    
            <div class="all-form">
                <div class="col-md-4 col-lg-4 profile-photo">
                    <button class="mb-2" (click)="fileInput.click()" type="button">Upload a photo</button>&nbsp;&nbsp;
    
                    <div class="mb-5">
                        <img [src]="getImgContent()" class="avatar">
                        
                        <input  style="display: none;"
                                type="file"
                                (change)="onFileSelected($event)"
                                #fileInput
                        >
                    </div>
                </div>
    
                <div class="col-md-7 col-lg-7">
                    <form [formGroup]="updateForm">
                        <div class="form-style">
                            <div class="col-sm-6 col-md-6 col-lg-6 first-form">
                                <div class="form-group">
                                    <input hidden="true" class="form-control" id="id" formControlName="id">
                                </div>
                                <div class="form-group">
                                    <input hidden="true" class="form-control" id="password" formControlName="password">
                                </div>
                                <div class="form-group">
                                    <label for="firstName">First name:</label>
                                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                    <span
                                    class="text-danger"
                                    *ngIf="updateForm.get('firstName').errors &&
                                        updateForm.get('firstName').hasError('required')"
                                    >Please enter a first name</span>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last name:</label>
                                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                    <span
                                    class="text-danger"
                                    *ngIf="updateForm.get('lastName').errors &&
                                        updateForm.get('lastName').hasError('required')"
                                    >Please enter a last name</span>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email <span style="color: red; font-size: 11px;">(you cannot modify this field)</span>:</label>
                                    <input type="email" class="form-control" id="email" formControlName="email" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input type="number" class="form-control" id="phone" formControlName="phone">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="address">Address (street, block/house number etc):</label>
                                    <input type="text" class="form-control" id="address" formControlName="address">
                                </div>
                                <div class="form-group">
                                    <label for="city">City:</label>
                                    <input type="text" class="form-control" id="city" formControlName="city">
                                </div>
                                <div class="form-group">
                                    <label for="country">Country:</label>
                                    <input type="text" class="form-control" id="country" formControlName="country">
                                </div>
                                <div class="form-group">
                                    <label for="zipCode">ZIP code:</label>
                                    <input type="text" class="form-control" id="zipCode" formControlName="zipCode">
                                </div>
                            </div>
                        </div>
    
                    </form>
                </div>
    
            </div>
    
            <div class="mt-5 buttons-style">
                <button mat-raised-button class="button-update" (click)="onUpdate(updateForm)">UPDATE ACCOUNT INFO</button>
                <button mat-raised-button class="button-delete" (click)="onAskDelete(updateForm)">DELETE ACCOUNT</button>
                <a (click)="onChangePassword()" class="update-password-link text-primary">CHANGE MY PASSWORD</a>
            </div>
    
        </div>
    
    <app-footer></app-footer>
    </div>
    
    <router-outlet></router-outlet>
    
    
</div>
