<div class="item-counter">
    <div class="qty">
        <span class="minus bg-dark" (click)="onDecrementQty()">-</span>
        <input 
            type="number" 
            class="count" 
            name="qty" 
            [value]="qty" 
            (input)="onChangeQty($event)"
        >
        <span class="plus bg-dark" (click)="onIncrementQty()">+</span>
    </div>
</div>

