<div *ngIf="!data.inCart">
    <div mat-dialog-title>
        <h2 class="primary">Product added to cart!</h2>
    </div>
    <div mat-dialog-content class="add-to-cart-dialog-content row mt-5 mb-5">
        <div class="col-6">
            <div *ngIf="data.product.images.length > 0">
                <img [src]="getImgContent('data:image/jpeg;base64,' + data.product.images[0].picByte)" class="product-image">
              </div>
            <div *ngIf="data.product.images.length <= 0">
                <img src="../assets/images/coming-soon.png" class="product-image">
            </div>
        </div>
    
        <div class="col-6">
            <h3 class="product-name">{{data.product.name}}</h3>
            <div>SKU: {{data.product.id}}</div>
            <div>Price: {{data.product.price}} EUR</div>
        </div>
    
    </div>
    <div mat-dialog-actions class="d-flex justify-content-around">
        <button 
        class="col-5"
        mat-raised-button
        color="primary" 
        (click)="onContinueShopping()" 
        cdkFocusInitial
        >Continue shopping</button>
        <button 
        class="col-5"
        mat-raised-button
        color="primary" 
        (click)="onNavigateToCart()"
        >Go to cart</button>
    </div>
</div>

<div *ngIf="data.inCart">
    <div mat-dialog-title>
        <h2 class="primary">The product is already in the cart!</h2>
    </div>
</div>
