.products-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

mat-spinner {
  margin-left: 50%;
}

.font-size-acordion {
  font-size: 30px;
  @media (min-width: 768px)and (max-width: 1578px) {
    font-size: 17px;
  }
}

.content-style {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}
