<div class="page-container mt-5">
  <div class="content-wrap">
    <div class="content-style">
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 mb-5" style="margin-top: 57px" *ngIf="!isLoading && !noProdAvailable">

        <mat-accordion multi>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span class="font-size-acordion">Choose a category</span>
            </mat-expansion-panel-header>
            <section class="flex-column font-size-acordion"  [formGroup]="categories">
              <mat-checkbox formControlName="All" color="warn" (change)="displayByCategoriesAndPromotions()">All</mat-checkbox>
              <mat-checkbox formControlName="Animals" color="warn" (change)="displayByCategoriesAndPromotions()">Animals</mat-checkbox>
              <mat-checkbox formControlName="Art" color="warn" (change)="displayByCategoriesAndPromotions()">Art</mat-checkbox>
              <mat-checkbox formControlName="Christmas" color="warn" (change)="displayByCategoriesAndPromotions()">Christmas</mat-checkbox>
              <mat-checkbox formControlName="Entertainment" color="warn" (change)="displayByCategoriesAndPromotions()">Entertainment</mat-checkbox>
              <mat-checkbox formControlName="Halloween" color="warn" (change)="displayByCategoriesAndPromotions()">Halloween</mat-checkbox>
              <mat-checkbox formControlName="Mythology" color="warn" (change)="displayByCategoriesAndPromotions()">Mythology</mat-checkbox>
              <mat-checkbox formControlName="Others" color="warn" (change)="displayByCategoriesAndPromotions()">Others</mat-checkbox>
            </section>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span class="font-size-acordion">Choose a promotion</span>
            </mat-expansion-panel-header>
            <section [formGroup]="promotionsFg" class="font-size-acordion">
              <mat-checkbox color="warn" formControlName="All" (change)="displayByCategoriesAndPromotions()" >All</mat-checkbox>
              <div *ngFor="let promotion of promotions">
                <mat-checkbox color="warn" formControlName="{{promotion.name}}" (change)="displayByCategoriesAndPromotions()">{{promotion.name}}</mat-checkbox>
              </div>
            </section>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span class="font-size-acordion">Sort by</span>
            </mat-expansion-panel-header>
            <mat-radio-group class="flex-column font-size-acordion">
              <span class="mb-3">Price: </span>
              <mat-radio-button value="ascending" (change)="sort($event, null)">Ascending</mat-radio-button>
              <mat-radio-button value="descending" (change)="sort($event, null)">Descending</mat-radio-button>
              <br>
              <span class="mb-3">Date:</span>
              <mat-radio-button value="newest" (change)="sort($event, null)">Newest</mat-radio-button>
              <mat-radio-button value="oldest" (change)="sort($event, null)">Oldest</mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
      <div class="col-lg-10" *ngIf="!noProdAvailable && !isLoading && !noProdWithSelectedPromotions">
        <mat-paginator #paginator 
        class="paginator"
        (page)="onPageChange($event)"
        [length]="productsNumber"
        [pageSize]="6">
        </mat-paginator>

        <div class="products-list col-lg-10 col-md-9 col-sm-12 col-xs-12" *ngIf="!isLoading && !noProdAvailable && !noProdWithSelectedPromotions">
          <div *ngFor="let product of currentProductsToShow" class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px; padding-bottom: 40px">
            <app-product-item [product]="product"></app-product-item>
          </div>
        </div>
      </div>

      <div *ngIf="noProdWithSelectedPromotions" class="font-size-30 d-flex justify-content-center align-items-center mt-5 col-lg-10">
        No products available with these promotions!
      </div>
      <div *ngIf="noProdAvailable" class="font-size-30 d-flex justify-content-center align-items-center mt-5 col-lg-10">
        No products found!
      </div>
    </div>
      

    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>


<app-footer></app-footer>
</div>
